[2016-06-25 11:46] alexhanh opened #1 "Signed transaction hash doesn't match with ethereum-tx.js"
[code]

[code]

I'm wondering whether this is an issue with the implementation.

[2016-06-25 15:32] se3000 commented on #1
This is expected, and I don't believe it's an issue. You'll actually get different hashes if you sign in ruby again and check the hash. The part that's changing is the signature. Specifically, we use a random K value, but some libraries use a [deterministic K](http://bitcoin.stackexchange.com/questions/36127/problems-with-deterministic-ecdsa-based-on-rfc6979-in-bitcoin) and are able to create the

[2016-06-25 16:34] alexhanh commented on #1
Ahhh, that explains it. Thank you.

PS. There was a namespace collision with https://github.com/DigixGlobal/ethereum-ruby, so I renamed `Ethereum::` to `EthereumTx::`, see https://github.com/alexhanh/ethereum-tx. Does merging the fork make sense?

[2016-07-03 04:59] se3000 commented on #1
Good question, sorry for the delay. Let me get back to you about that
though, I'm working on some coordination that with the guy behind
ruby-ethereum. I'll try to take ethereum-ruby into consideration as well,
that project and mine seem more like a compliment to each other.

On Sat, Jun 25, 2016 at 12:34 PM Alexander Hanhikoski <
notifications@github.com> wrote:

[2016-07-03 09:23] alexhanh commented on #1
Sounds good. I'll close this one.

[2016-07-03 09:23] #1 closed

[2016-07-17 17:41] se3000 commented on #1
@alexhanh moved it to the `Eth` namespace.

[2016-11-10 19:37] MitchK opened #2 "The contract code couldn't be stored, please check your gas amount."
I have these options:

[code]

When I can sendRawTransaction, ```geth``` gives me:
[code]

When I use ```ethereum-tx``` (https://github.com/ethereumjs/ethereumjs-tx), I use the same parameters (but hex encoded in canonical form (with difference nonce, of course. Nonce is determined dynamically.)

[code]
The only difference is the nonce, but that is certainly not the issue.

[2016-11-11 06:23] se3000 commented on #2
Interesting. These are being sent from the same account?

Can you post the raw hex generated for the transactions, from both ruby and javascript?

[2016-11-13 17:44] se3000 commented on #2
Hi, looking into this more and having trouble reproducing it. I was able to successfully confirm a transaction with all the same parameters, except nonce, on a local private instance of geth.

It is possible that a nonce being off is preventing your transaction from confirming. Can you share more details about how you're broadcasting the transaction, or how you're seeing the error if it's in a lat

[2016-11-15 18:17] MitchK commented on #2
Hi, thank you for your quick response!

I'm running on a Geth node ```Geth/v1.4.18-stable-c72f5459/darwin/go1.7.3``` on Morden network. I have a Node.js service that provides an API for

- Encoding functionality
- Sending raw transactions. (inner call is ```sendRawTransaction(...)```)

Ruby code:
[code]

Which prints raw transaction code:
[code]

Node.js code:
[code]

Which prints raw transation h

[2016-12-12 05:13] se3000 commented on #2
It looks like you need to convert the data to binary instead of just passing in a hex string. Sorry for the confusion, the readme example didn't convert it to binary either. I'll fix that immediately.

I'll make this more flexible, but until that fix gets out you can get this working by explicitly converting the `data` value from hex to binary:
[code]

[2017-01-29 19:35] se3000 commented on #2
Ok, released a new version of the gem that accepts hex as data. By default it accepts hex, but if you'd prefer not to change your code, then you can set the configuration back to the original behavior with:
[code]

In addition to the `#data` method, which changes based on configuration, there is `#data_hex` and `#data_bin`, whose return values will not change.

Closing this issue, feel free to reo

[2017-01-29 19:35] #2 closed

[2017-02-05 22:44] se3000 opened #5 "add support for EIP55"
Support https://github.com/ethereum/EIPs/issues/55 style checksums.

[2017-02-18 13:47] marekkirejczyk opened #6 "Create Eth::Key from key file"
It would be great to create Eth::Key from existing key, e.g.:

[code]
and/or:
[code]

[2017-02-20 19:16] se3000 commented on #6
Cool, looked into this a little bit. Just dropping a couple relevant links here for future reference:

The spec for encrypting:
https://github.com/ethereum/wiki/wiki/Web3-Secret-Storage-Definition

It looks like PBKDF2 is required, which [should be](https://ruby-doc.org/stdlib-2.0.0/libdoc/openssl/rdoc/OpenSSL/PKCS5.html) supported by OpenSSL. If that turns out not to work, I might put this in a s

[2017-02-21 19:10] marekkirejczyk commented on #6
Awesome, I'l try to take a closer look next week and get back here.

[2017-04-09 09:13] se3000 commented on #5
Completed with version 0.4.2.

[2017-04-09 09:13] #5 closed

[2017-04-25 07:39] se3000 commented on #6
Ok, added this in v0.4.3.

encrypt:
[code]

decrypt:
[code]
I left reading and writing to disk out of this, the gem expects and returns JSON for now. We can add support for file paths and more syntactic sugar later, for now the base functionality should be there.

I tested compatibility with geth and myetherwallet. Feel free to reopen if I missed anything or you run into any bugs.

[2017-04-25 07:39] #6 closed

[2017-04-25 07:41] se3000 opened #7 "support HD keys"

[2017-04-25 07:41] se3000 opened #8 "Support signing with libsecp256k1"

[2017-05-09 19:02] 5chdn opened #9 "Breaking changes with openssl 1.1+: FFI::NotFoundError: Function 'SSL_library_init' not found in [libssl.so]"
I can't create a transaction with ethereum.rb and ruby-eth and it breaks down to some Eth::OpenSsl issue. Here is my irb sandbox, nulled all sensitive data:

    irb(main):001:0> require 'eth'
    => true

    irb(main):002:0> key = Eth::Key.decrypt File.read('path/to/some/UTC-file.json'), 'password'
    /home/user/.gem/ruby/2.4.0/gems/money-tree-0.9.0/lib/money-tree/key.rb:73: warning: constant :

[2017-05-09 19:08] 5chdn commented on #9
Tests reveal the same applies for `recover_compact`.

    ruby-eth $ rspec

    Eth::Address
      #valid?
        given an address with a valid checksum
          returns true
        given an address with an invalid checksum
          returns false
        given an address with all uppercase letters
          returns true
        given an address with all lowercase letters
          returns true

[2017-05-10 19:55] 5chdn commented on #9
Okay, I finally figured out the root cause of this issue:

    FFI::NotFoundError: Function 'SSL_library_init' not found in [libssl.so]

Your implementation expects openssl versoin 1.0.x, however ArchLinux defaults to the latest openssl 1.1.x.

This lines:

    if FFI::Platform.windows?
      ffi_lib 'libeay32', 'ssleay32'
    else
      #ffi_lib 'ssl' ### this uses the default libssl.so which is

[2017-05-15 16:02] se3000 commented on #9
Thanks for filing this, super helpful. I'll circle back once I know more.

[2017-05-21 16:12] se3000 commented on #9
It [looks like](http://www.rubydoc.info/github/ffi/ffi/FFI/Library:ffi_lib) passing in an array will make it try each entry in the array until one succeeds.

So on a fresh ArchLinux box, after running `pacman -S openssl-1.0` and updating that line to
[code]
everything works again. We need to figure out support for openssl 1.1, but for now this gets things working.

[2017-05-21 17:01] se3000 commented on #9
Ok, just released a new version with that line updated. Going to close this issue, feel free to reopen if I missed something. Thanks for raising the issue.

[2017-05-21 17:01] #9 closed

[2017-05-22 12:49] 5chdn commented on #9
Thanks!

[2017-07-14 05:28] tymat opened #10 "RPC signing (eth_sign) functionality and HD vault support"
I've created a fork on https://github.com/digixglobal/ruby-eth which adds some extra functionality such as RPC signing similar to web3.eth.sign and HD vault support.

https://github.com/digixglobal/ruby-eth

Let me know if this is something you'd like and I can submit a PR

### HD Vaults

This branch adds HD wallet functionality which can be seeded with Trezor style mnemonic words.

[code]

### we

[2017-08-17 19:21] iscott opened #11 "hex_data for creating a new transaction"
I want to build a new transaction. What is the hex_data I need to provide?

[code]

[2017-08-18 16:06] se3000 commented on #11
Are you sending any data in the transaction? If you just want to transfer ether, than you can just make the `data` attribute an empty string.

[2017-08-18 16:09] se3000 commented on #11
Requiring an empty string instead of just allowing it to be null is not a great experience. On my list of things to improve is adding sane defaults for new transactions.

[2017-08-20 03:24] se3000 commented on #10
Apologies for the slow response.

This looks great, thanks. I'd love to get some tests for it before pulling it in though, any chance you would write those? I can do it, but it will take me a little while to get to it.

Thanks again!

[2017-11-29 06:52] superrordev opened #13 "Getting the error while creating a transaction"
Creating a transaction like this:
`tx = Eth::Tx.new({
  data: hex_data,
  gas_limit: 21_000,
  gas_price: 3_141_592,
  nonce: 1,
  to: key2.address,
  value: 1_000_000_000_000,
})`

When running the code, getting this error:
**ArgumentError: wrong number of arguments (given 2, expected 1)**

I'm not sure why. Please check it.

[2017-12-22 04:05] jbgh opened #15 "ecrecover implementation"
I'm trying to implement ecrecover to get the public key from a signed message: https://github.com/ethereum/wiki/wiki/JavaScript-API#web3ethsign

I know you mentioned implementing libsecp256k1 support here https://github.com/se3000/ruby-eth/issues/1

Looks like ecrecover isn't possible right now with your current implementation since the signature in your recover_compact method is not the same as t

[2017-12-25 02:51] mhluska commented on #10
Are there any updates on this? I'd love to use this.

[2017-12-29 01:30] se3000 commented on #15
Ecrecover is supported; you wouldn't be able to determine the transaction signer/sender if it wasn't.

The signature is different because OpenSSL generates it instead of libsecp. Specifically, OpenSSL uses a [nondeterministic K value](https://bitcoin.stackexchange.com/questions/36127/problems-with-deterministic-ecdsa-based-on-rfc6979-in-bitcoin). This doesn't make it invalid, just that each time y

[2017-12-29 01:35] se3000 commented on #15
You can see the signature being recovered in ruby [here](https://github.com/se3000/ruby-eth/blob/master/lib/eth/tx.rb#L74-L75).

Is there anything else you're looking for with this issue?

[2017-12-29 01:48] se3000 commented on #10
Which part? HD keys or RPC signing?
On Sun, Dec 24, 2017 at 9:51 PM Maros Hluska <notifications@github.com>
wrote:

[2017-12-29 16:11] mhluska commented on #10
@se3000 I meant HD keys. I tried using your fork but ran into some issues. I ended up solving the issue like this: https://ethereum.stackexchange.com/a/34520/26695

Please let me know if you see any issues with that approach.

[2018-01-05 05:11] jbgh commented on #15
I see I was trying to recover from a signature generated by libsecp which is why I was running into trouble.  Thanks for the clarification.

[2018-01-09 20:14] #15 closed

[2018-01-11 09:38] tinbka commented on #9
Since this is the only page googled by
[code]

I get this error when I try to sign a transaction with `ruby-eth`:
[code]

[2018-01-23 20:36] se3000 commented on #10
Good to know. Tests are the big blocker on this PR, ideally I'd change the API a bit too.

Unfortunately I won't have the time to implement this for a while. I'd be happy to accept a PR if had tests that offered assurance that bugs, like the one you discovered, don't exist.

As for sweeping funds, it depends on how you implemented your logic to pick which keys are used to accept payment. Figuring

[2018-02-06 22:36] TonyWald commented on #15
Just to clarify, it sounds like because go-ethereum and web3 use libsecp to generate signatures, it's not possible to use this gem (which uses openssl instead) to recover keys from a message signed on the front-end of a web application using web3?

jbgh, assuming this is accurate, did you find any alternative approaches to recovering keys generated by libsecp in ruby?

[2018-02-15 19:32] se3000 commented on #11
No reply. Closing. Feel free to reopen with more details.

[2018-02-15 19:32] #11 closed

[2018-02-15 19:33] se3000 commented on #8
Captured in the readme. Closing.

[2018-02-15 19:33] #8 closed

[2018-02-15 19:33] se3000 commented on #7
Captured in the readme, and another open issue. Closing.

[2018-02-15 19:33] #7 closed

[2018-02-17 06:48] gsdean opened #17 "Does not load on Heroku"
LoadError: Could not open library '/usr/lib/ssl': /usr/lib/ssl: cannot read file data: Is a directory.

[2018-02-18 00:50] se3000 commented on #15
That is not accurate. You can still recover the public key, the k value has nothing to do with recoverability, just in how the signature is generated. You should be able to recover the signature. If you can post some examples, I can try to point you in the right direction.

[2018-02-18 00:52] se3000 commented on #15
@jbgh I may have misunderstood your comment last time. You should be able to recover a signature generated by libsecp. Right now the gem does not support generating signatures with libsecp, but it can recover signatures generated by libsecp. Similarly, libsecp can recover signatures generated by this gem.

[2018-02-18 23:51] se3000 commented on #17
I believe this is a change in Heroku's newest stack. It'd be great to support it long term, but that's going to take some time to investigate and test out.

If you need this immediately on Heroku you can use the [cedar-14 stack](https://devcenter.heroku.com/articles/stack).

[2018-02-19 00:49] gsdean commented on #17
did a more little digging, seems like this might be an ffi issue
https://github.com/ffi/ffi/issues/595

[2018-03-20 02:03] hstove commented on #17
I got this working on Heroku with https://github.com/GemHQ/money-tree/pull/28

[2018-03-20 02:23] hstove opened #18 "Trouble validating signatures from MetaMask"
Hey there, thanks for the project. It's been super helpful.

What I'm trying to do is validate a signed message that I can get from MetaMask. Getting the signature is easy. Let's say I've signed the message "numa", and I get the signature `0x641a251cce30223cbcf391ecfe3aa939acc7361bbaf166dd929f940bf6589f8b3a2defc1b19c5db7f5816cc83a07a1be5a452e0387491a52e3b50c5138b7acb81c`. Here is the code that I t

[2018-03-20 03:15] hstove commented on #18
In case others run into this as well, I'm able to use node.js to do this, which may be a viable workaround for some people.

[code]

[2018-04-03 08:30] Qqwy opened #19 "Bug: SecureRandom is not required in the encryption module"
This breaks:

[code]

What fixes it, is to manually `require 'securerandom'` before making this call. Of course, instead of manually doing this, this issue should be resolved by placing this require statement in the proper module inside the gem.

[2018-04-29 23:01] #19 closed

[2018-05-10 21:18] shrugs commented on #18
I'd prefer not to use javascript for this part of my system so this is rather confusing to me. According to @se3000 's comment [here](https://github.com/se3000/ruby-eth/issues/15#issuecomment-366483450) we should be able to recover a signature generated by something like metamask (which afaik uses libsecp).

Here's the code I'm running. I also happen to be using `personal_sign`, which forces the `

[2018-05-12 18:05] DSalko opened #21 "Transaction "from" is always nil for signed transaction"
Unable to recover sender's address from a signed transaction.
How to reproduce:

[code]
`tx.signature` is present

In example I used this transaction: https://etherscan.io/tx/0x18d2b9638253b6ab4627d9d9203dbec07a9233dae97c0cb2aaf01e7c62bd285e

Any suggestions?

[2018-05-21 15:58] juanfer opened #22 "Invalid Sender"
Hi, I'm getting "invalid sender" error when trying to send signed transactions using ruby-eth in a local node. Can't figure out which is the problem. Here's the code, which calls transfer method in a contract.

[code]

Of course private key is correct, variables to instantiate contract are correct, params "to" and "qty" are variables with a correct ETH address and a quantity lower than sender's to

[2018-05-21 16:13] juanfer commented on #21
Same behaviour here.

This could have something to do with my own report #22

[2018-05-22 12:01] juanfer commented on #22
Ok, seems that it has nothing to do with ethereum.rb, nor ruby-eth, but with geth. In the end, the error was not showing only on the situation described above, but in every single ETH signed transaction, so I started to look further and discovered a "problem" in my geth node.

There's a fix here: https://github.com/trufflesuite/truffle/issues/595.

Basicly you have to use the same networkid param

[2018-05-22 12:01] #22 closed

[2018-06-04 18:47] marknguyen85 opened #24 "NoMethodError (undefined method `sign' for #<String:"
my code here
[code]
trace log

[code]

[2018-06-05 23:01] marknguyen85 commented on #24
i've resolved with code additional

[code]

[2018-06-05 23:02] #24 closed

[2018-06-08 01:19] se3000 commented on #21
You need to set the chain ID(aka network ID):
[code]

By default the gem is configured to 0, which means it will work for writing to any chain, but it means that to parse a sender you may need to check ID 0 and the ID of the chain you're on. We could probably make that automatic, but you'd still need to configure your chain ID.

You can find more chain ID details and list of networks [here](https:

[2018-06-08 01:20] #21 closed

[2018-06-08 01:40] se3000 commented on #17
Just pushed version 0.4.7, with the new version of MoneyTree. I ran a quick test on heroku and it appears to work on the current default stack, heroku-16. I'm going to close this, but feel free to reopen if you run into other issues.

[2018-06-08 01:40] #17 closed

[2018-06-08 01:42] se3000 commented on #13
The only errors I get when running that line are undefined variable errors. When I define those variables, everything works. Closing this, but feel free to open with more detail on how to reproduce.

[2018-06-08 01:42] #13 closed

[2018-06-10 11:49] keitaroemotion opened #25 "Gem make installation error with Ruby 2.3.x"
ruby-eth does not work on Ubunt16.x and Ruby2.3.x.
Its gem installation fails with Make Error.

[2018-06-13 07:41] ngan commented on #18
@se3000 Here's an example:

On Metamask:
[code]

Then, on ruby console:
[code]

[2018-06-13 11:38] buhrmi commented on #18
Hello, having the same issue. When signing a _personal_ message with metamask, a prefix is applied, which is missing in the example provided by @ngan. The example below should be correct, but still unable to verify the signature from metamask. I can't figure out, why...

In a browser with metamask installed:
[code]

In ruby console:
[code]

Any help would be appreciated...

[2018-06-18 18:50] thellimist opened #27 "Support for OpenSSL 1.1.0f"
When will this be supported?

[2018-06-28 06:48] se3000 commented on #25
Could you post a stacktrace/error message?

[2018-06-30 10:19] buhrmi commented on #18
Hey guys I'm offering a 1 eth bounty if somebody can help me figure this out

[2018-07-05 08:12] 5hanth opened #28 "two different gem names ? its gem 'eth' in readme.md and gem 'ethereum-tx' in rubygems is pointing to this repo."

[2018-07-06 23:00] dagi3d commented on #18
We recently faced a similar issue and it looks we found a solution that seems to work.
In our case we wanted to check that the signature generated in backend with this library was valid while trying to verify it in our app that talks to the eth node.
The error we got was this:
[code]

[code]

We realized that the V value was being checked against the last signature's byte and for some reason, with

[2018-07-07 05:43] buhrmi commented on #18
Awesome @dagi3d you are freaking geniuses. I sent the eth :D

@se3000 should get some too for making this gem in the first place. Do you have a donation address?

[2018-07-07 17:15] se3000 commented on #28
This gem was formerly called `ethereum-tx` and it followed the ruby naming convention of gem names to classes, making the actual class `Ethereum::Tx`. This ran into some namespace collisions around `Ethereum` with the already existing [ruby full node implementation](https://github.com/cryptape/ruby-ethereum). I renamed the gem because it wasn't worth it to try to coordinate.

[2018-07-07 17:15] #28 closed

[2018-07-09 03:12] se3000 commented on #18
@dagi3d @buhrmi Awesome, thanks for figuring this out.

So far we return and expect signatures in the format V,R,S. This is how they are [ordered in serialized Ethereum transactions](https://ethereum.stackexchange.com/questions/1990/what-is-the-ethereum-transaction-data-structure)(see page 4 of [the yellow paper](http://gavwood.com/paper.pdf)). V is that first byte that you move to the end. You ca

[2018-07-09 03:21] se3000 commented on #18
@buhrmi Thanks, that's very generous of you. You can send donations to `0xc021b4474F665a0b1C7A68ae0C5c723d08d69185`. I'll put anything sent there towards a bounty for a native libsecp256k1 gem. I think the ruby community shouldn't have to rely on OpenSSL for crypto related work long term, and a native libsecp gem would is our best option as far as I can tell.

Anyway, I'll try to get more details

[2018-07-09 03:44] buhrmi commented on #18
Does it make sense to update the `sign` method to use a different byte order? I have not tried it, but I would assume that geth accepts transactions signed with the current implementation. So changing the byte order in the `sign` method would break that, no?

How about adding `personal_sign` and `personal_recover` to the library?

[2018-07-12 13:38] 5hanth commented on #27
+1

[2018-07-12 15:14] thellimist commented on #27
For those who have issues with openssl version they can use the following to downgrade openssl version to 1.0.2

[code]

[2018-07-16 23:08] se3000 commented on #27
Can someone make a PR for this. I imagine you have to update [this line](https://github.com/se3000/ruby-eth/blob/master/lib/eth/open_ssl.rb#L11), but I'm not entirely sure what it takes and don't know if I'll be able to verify that it works.

Thanks!

[2018-07-16 23:10] se3000 commented on #18
@buhrmi yes, I think `personal_sign` and `personal_recover` would be best. They definitely need to be different because ordering of the signature parts and they do not take chain_id into account.

[2018-07-19 18:51] ticklemynausea opened #29 "Giving attribution to original work"
Hi! Sorry that I'm opening an issue for this.

We needed a ruby library to validate and generate eip55 checksums, so we extracted the relevant code and tests into [ruby-eip55](https://github.com/FractalBlockchain/ruby-eip55), since we did not need most of the features `ruby-eth` offers.

We kept the original license, credited the original project in the README and left the original authors in the

[2018-07-30 16:44] se3000 commented on #29
Looks good to me. Thanks for the heads up!

[2018-07-30 16:44] #29 closed

[2018-08-05 00:51] #18 closed

[2018-08-05 01:08] se3000 commented on #18
There is now Eth::Key#personal_sign and Eth::Key#personal_recover. Thanks again @buhrmi!

[2018-08-08 08:29] se3000 commented on #25
Closing. Feel free to reopen with more info.

[2018-08-08 08:29] #25 closed

[2018-08-21 22:57] escoffon opened #31 "signing does not support large chain IDs"
The attached file eip_issue.txt has a more complete writeup, but essentially if the chain ID is large enough (>120), transactions are signed incorrectly. The problem is that the code in tx.rb and open_ssl.rb packs the signature's v value as a one-byte field, and if EIP-155 support is enabled, a chain ID larger that 119 or 120 overflows and only the low byte is packed.

I have a fix for this, but u

[2018-09-05 14:12] mvanh opened #33 "Class error when deploying to heroku"
superclass mismatch for class Digest::SHA3 (Digest::Class is given but was Digest::Base) when used in a project and deployed to heroku

[2018-09-26 09:57] mtomov opened #34 "Unable to recover signature from Solidity"
Hello,

Thanks for the helpful library, and especially the latest `personal_sign` addition to it.

I've been trying to sign a message with `personal_sign` and then verify the signature from Solidity with an [ECVerify library](https://github.com/miguelmota/ECVerify/blob/master/contracts/ECVerify.sol). However, the signature appears to be invalid from Solidity.

If I use this tool: https://etherscan

[2018-10-08 05:14] se3000 commented on #33
What version of ruby are you using?

[2018-10-08 05:15] se3000 commented on #31
Your fix has been included in v0.4.9. Thanks!

[2018-10-08 05:15] #31 closed

[2018-10-08 05:18] #10 closed

[2018-10-10 18:09] se3000 commented on #34
I think the question about why you get a different signature is covered in https://github.com/se3000/ruby-eth/issues/1#issuecomment-228550826. Short answer is this gem does not use libsecp256k1 or anything derived from it for signatures.

As for why it doesn't work with the ECVerify library, that seems to be specific to that library. The signatures generated by this gem are valid and submitted to

[2018-10-10 19:14] se3000 commented on #33
I need to investigate more, but I believe that this is an error with the sha3 repo. I believe that it no longer works with ruby 2.5+. Looks like that repo is unmaintained, so we'll probably have to fork it... probably going to take some time. I think the best immediate workaround is to switch to ruby 2.4.

[2018-10-11 09:22] wojtczal opened #38 "version 0.4.9 missing from rubygems"
Hey! For some reason the 0.4.9 version has been yanked from rubygems 😢 (https://rubygems.org/gems/eth/versions). any particular reason for removing it?

[2018-10-11 18:39] se3000 commented on #38
Yeah, it had a [breaking change](https://github.com/se3000/ruby-eth/pull/32#commitcomment-30815002) for some dependent libraries, to avoid other people pulling that in and getting errors [it was yanked](https://github.com/se3000/ruby-eth/pull/37#issuecomment-428460990).

Feel free to reopen if there was anything you specifically needed in it, but v0.4.10 should be functionally equivalent.

[2018-10-11 18:39] #38 closed

[2018-10-15 06:47] mvanh commented on #33
Ok - thanks so much - i'll try and switch to ruby 2.4 and see what happens. Will let you know 

http://about.me/mvanh

Sent via Superhuman ( https://sprh.mn/?vip=mvh@lokigroup.com )

On Thu, Oct 11, 2018 at 03:14:09, Steve Ellis < notifications@github.com > wrote:

[2018-10-27 10:53] blahutka commented on #15
In rails I'm using
`yarn install  eth-sig-util 'ethereumjs-util`

`bundle install schmooze`

[code]

[code]

[2018-11-14 10:42] addywaddy opened #39 "Cannot transfer eth using testrpc (ganache) when using transaction body generated with ruby-eth"
Firstly - thanks for this library!

I'm trying to transfer ether, using Ganache 1.2.2 (https://truffleframework.com/ganache).

I'm preparing the transaction in ruby:

[code]

And then sending the raw transaction using web3:

[code]

If I now build the raw transaction using web3 and ethereumjs-tx

[code]

Then the transaction is successful and the funds are transferred. Moving back to ruby, I decod

[2018-11-14 10:57] addywaddy commented on #39
Some more investigation:

[code]

[2018-11-14 11:07] addywaddy commented on #39
My bad. The problem was solved in https://github.com/se3000/ruby-eth/commit/18643bc321a4a10dd5ea33d8fc5fa05db1ceeb42. I just needed to update to the latest version (4.1.0) and it works. Sorry for the false alarm!

[2018-11-14 11:07] #39 closed

[2019-04-09 05:06] amandameng opened #40 "The spec failed when I trying to test the `personal_recover`, is there an update?"
Hi,
I got errors when I run spec test for the key file.
`rspec ~/ruby-eth/spec/eth/key_spec.rb`

![image](https://user-images.githubusercontent.com/1794331/55774559-31625e00-5ac8-11e9-9b4d-3f8fb77b575d.png)

[2019-04-15 12:15] #40 closed

[2019-07-01 00:13] #34 closed

[2019-07-01 00:13] se3000 commented on #34
Feel free to reopen, but assuming by the thumbs up that you're good.

[2019-07-01 00:45] se3000 commented on #33
As [mentioned here](bundle config build.digest-sha3 --with-cflags="-Wno-format-security"), there is a workaround that you can add to your Gemfile:
[code]

I've verified the above works on the latest Heroku stack, heroku-18. Alternatively, if you're just building locally and not deploying to Heroku, you can run `bundle config build.digest-sha3 --with-cflags="-Wno-format-security"` before running `b

[2019-07-01 00:45] se3000 commented on #33
Closing this for now. Feel free to reopen if you run into it.

[2019-07-01 00:45] #33 closed

[2019-07-09 21:28] etscrivner commented on #27
It appears that OpenSSL 1.1.0 completely changed the way the library is initialized. I've opened #42 which I've tested against OpenSSL 1.0.0 and OpenSSL 1.1.0. It adds a check on the library version before performing initialization to ensure that it calls the correct initialization method(s).

[2019-09-09 23:53] #27 closed

[2019-11-08 18:42] rstormsf opened #44 "Implement EIP712 support for signTypedData"
feel free to reference
https://github.com/AztecProtocol/aztec-crypto-js/blob/master/eip712/eip712.js

https://github.com/MetaMask/eth-sig-util/blob/master/index.js#L438

[2019-11-12 06:41] rstormsf commented on #34
https://github.com/peppersec/ruby_personal_sign/blob/master/index.rb

check this one

[2019-11-12 06:42] rstormsf opened #45 "example for personal_sign"
https://github.com/peppersec/ruby_personal_sign/blob/master/index.rb

[2019-11-28 20:31] fade2black opened #46 "Status of the gem"
Resolved.

[2019-12-03 07:47] jimmypoulsen commented on #9
@tinbka What did you put in the data attribute in your Eth::Tx object?

[2019-12-05 07:13] #46 closed

[2020-01-19 09:17] dunghuynh opened #47 "Can not use this gem on new rails project on Mac OS Catalina"
Hi there,

After I added this gem to a fresh new rails project on Mac OS Catalina, I can not run `rails c` nor `rake db:create` anymore. The app either hang or crash without any error:
[code]
Removing the gem or using older version of Mac OS solve the problem :(
There might be a problem with default `zsh` instead of `bash` on Mac OS Catalina, or a problem with openssl versions?

[2020-01-31 11:08] marcinruszkiewicz commented on #47
I can confirm that this is indeed the case. Catalina as well and commenting this one gem out of the gemfile fixes it.

If anyone has an idea on how to start debugging this it would be appreciated - there's nothing in any logs, just the `[1] <pid> abort` like above. Can't attach gdb because the process just dies immediately and there's nothing to attach to. Syslog doesn't show anything either.

[2020-02-06 10:46] petenickless commented on #47
+1 for this exact situation.  OSX 10.15.2, Rails 5.2.3, ruby-2.4.0

[2020-02-21 07:12] tymat commented on #47
Yes.  Reporting similar issue here:

[code]

[2020-03-04 19:08] fero46 commented on #47
I've similar issue, and my console put this out, looks like an openssl issue

`Process:               ruby [30741]
Path:                  /Users/USER/*/ruby
Identifier:            ruby
Version:               0
Code Type:             X86-64 (Native)
Parent Process:        zsh [30562]
Responsible:           Terminal [1737]
User ID:               501

Date/Time:             2020-03-04 20:05:08.458 +0

[2020-03-05 09:23] petenickless commented on #47
I believe this is (at least in part) related to Money Tree (which is a
dependency) and this issue https://github.com/GemHQ/money-tree/issues/38

On Wed, 4 Mar 2020 at 19:08, Ferhat Ziba <notifications@github.com> wrote:

[2020-03-05 12:36] fero46 commented on #47
Does anyone tested this branch https://github.com/se3000/ruby-eth/pull/43 ? This PR could fix this bug,

[2020-03-05 12:37] fero46 commented on #47
Same problem when I try to sign a tx with a key.

[2020-03-11 15:56] AlexanderMint commented on #47
Same problem. The project does not start (Sinatra) no errors. MacOS Catalina 10.15.3 (Macbook pro 2017)

[2020-03-31 01:34] patrick99e99 opened #51 "How do you verify personal_sign?"
[code]

but

[code]

What steps need to be taken to verify a signature made from `personal_sign`?

[2020-03-31 16:24] patrick99e99 opened #52 "Why is Eth::OpenSsl.sign_compact non-idempotent?"
I was a little surprised to see that calling sign_compact with the same values results in different output... ?  Is this a bug?

[code]

[2020-04-03 15:54] anaumov commented on #47
Same here on MacBookPro 2015 MacOS Catalina 10.15.4

[2020-04-04 12:19] fero46 commented on #47
So after a long research, I think I solved the problem.
For some reason linking without versioning is not possible anymore:

So I had openssl1.1

Steps to fix:

1. brew update & brew upgrade & brew install openssl
2. cd in your openssl lib folder in my case: usr/local/opt/openssl@1.1/lib
3. copy files in /usr/lib:
  sudo cp libssl.1.1.dylib  libcrypto.1.1.dylib /usr/local/lib/
4. make softlink
sud

[2020-04-06 05:08] marcinruszkiewicz commented on #47
The above solution does fix the problem, thank you.

@fero46 I see you already fixed it once, but if you could edit two more things, which might throw off people less familiar with unix stuff: `/usr/local` not `usr/local` in point 2 (just a typo) and it could use a point "3.5 cd to /usr/local/lib" so it's clear the links should be made there.

[2020-04-08 13:39] DangerDawson commented on #47
@fero46 thank you.

Using your suggestion I ended up with the following:

`ln -s /usr/local/opt/openssl/lib/libssl.dylib /usr/local/lib/`
`ln -s /usr/local/opt/openssl/lib/libcrypto.dylib /usr/local/lib/`

And that seemed to work for me

[2020-07-20 07:16] samikshaglv commented on #47
I'm using Mac OS Catalina version '10.15.5 (19F101)'
And I'm facing same problem. The project does not start  with no errors.
I just did this and its works fine on my Mac.

brew rm openssl
brew cleanup openssl
brew install openssl
rvm reinstall ruby

And that seemed to work for me.

[2020-09-06 12:42] bsl commented on #47
I had to do `/usr/local/opt/openssl@1.1` etc. instead, but this was the right idea. Thanks.

[2020-11-08 00:30] sg552 commented on #51
Yes, can not verify.
My signed tx is ignored by my ETH node, without any reason or debug clue.

I gave up and turn to NODE version, refer to: https://medium.com/blockchain-musings/how-to-create-raw-transactions-in-ethereum-part-1-1df91abdba7c

Really hope there is stable Ruby version for ETH operations

[2020-11-08 00:44] sg552 commented on #45
I think you could make a pull request, and write your code to the README file

[2020-11-08 00:44] sg552 commented on #45
If the author is still maintaining this lib.

[2021-01-01 11:22] sg552 commented on #47
Ubuntu 18 is good for this issue.

[2021-01-01 11:23] sg552 commented on #45
I created a pull request , with a comment adding more comment and make the example accompleshed.

## Usage

First of all, require this gem:

[code]
### How to make a trasaction?

Let's take an example of sending ETH to another address:

Step1. Build a transaction from scratch:

[code]

Or decode an encoded raw transaction:

[code]

Step2. Then sign the transaction with your private key:

[code]

S

[2021-03-15 20:20] 5hanth opened #54 "require "eth" aborts irb / rails server on 2.7.2p137"
[code]

[2021-03-19 08:05] bocai-h opened #55 "It always happen a error with openssl,my openssl is 1.0.2t."
FFI::NotFoundError (Function 'OPENSSL_init_ssl' not found in [libssl.dylib])

[2021-03-31 09:41] AlexanderMint commented on #47
Maybe this is useful to someone (It works on MacBook Air M1)

[code]

[2021-04-20 14:47] fero46 opened #56 "Eth::Tx.new is incompatible with eip-155"
After I have upgraded geth on production, I noticed that I cant send transaction anymore.

I call the method like that:

[code]

The signed raw transaction looks like this:

0xf86d8085051f4d5c00833d09009484bdc414abe39c40408b64353e0f16934bdc981e880157e7164e420000801ba074e8c2479dd5e899c7d3f2e52d9ac36984a4467cf54b2aea32b99547df7752daa07c3e83bc76d795c3ec1873b992f19bb862eb247f50d4fd34c6947336b638f505

[2021-04-30 10:40] k0shima commented on #54
@5hanth
try this
https://github.com/se3000/ruby-eth/issues/47#issuecomment-610965751

[2021-05-07 19:06] rwehresmann opened #57 "Support for ruby 3?"
I'm using ruby 3.0.1, and `gem install eth` is resulting in:

[code]

[2021-05-08 15:27] giannadakis commented on #57
I have the same problem.

[2021-05-08 16:11] rwehresmann commented on #57
The problem is this dependency: https://github.com/se3000/ruby-eth/blob/develop/eth.gemspec#L22

[digest-sha3-patched](https://github.com/teamhedge/digest-sha3-ruby/blob/master/digest-sha3-patched.gemspec) is requiring ruby `~> 2.2`.

[2021-05-26 14:12] bleedr commented on #57
I've modified the dependency, then it works, considering this change:

https://github.com/se3000/ruby-eth/issues/47#issuecomment-610965751

[2021-05-31 13:51] fero46 commented on #56
Any Idea how to fix this ?

[2021-06-07 04:41] nitsujri commented on #57
Thanks @bleedr and @rwehresmann. Between the two of you I got the package running on ruby3.

1. https://github.com/sydneyitguy/digest-sha3-ruby/tree/patch-1
[code]
2. From same thread, further down: https://github.com/se3000/ruby-eth/issues/47#issuecomment-810929223
[code]

[2021-06-16 07:50] briansoule commented on #57
Any chance we could merge this in?

[2021-06-26 03:28] sofianeOuafir commented on #18
@se3000 what does personal_recover do?

[2021-06-28 19:14] 5hanth commented on #54
apparently, I was never able to use `ruby-eth` and wrote a coin manager (node.js) that runs independently with private keys of hot wallet that solely takes requests from the app server in a VPC.

[2021-09-22 09:07] q9f commented on #57
@se3000 🥺

[2021-09-22 14:37] q9f commented on #57
Edit: I published https://github.com/q9f/keccak.rb as `keccak`

https://rubygems.org/gems/keccak

[2021-09-22 15:04] q9f commented on #18
It returns the public key that signed the message.

[code]

[2021-09-23 09:46] q9f commented on #57
published https://github.com/q9f/ruby-eth/releases/tag/v0.4.14

as eth-patched https://rubygems.org/gems/eth-patched

[2021-10-01 14:23] q9f commented on #57
@se3000 I'm happy to step up as co-maintainer, I just don't know the best way to reach you.

https://twitter.com/q9fmz/status/1443586096705593352

[2021-10-12 17:15] shideneyu commented on #44
+1

[2021-10-27 16:44] q9f commented on #56
Hi, sorry for the late response, have you tried

[code]

[2021-10-27 17:04] q9f commented on #55
Please try this: https://github.com/se3000/ruby-eth/issues/47#issuecomment-609020317

[2021-10-27 17:04] #55 closed, assigned to nobody

[2021-10-27 17:06] q9f commented on #47
Is this still an issue on mac? what openssl version is shipped with macos?

[2021-10-27 17:14] q9f commented on #51
check out https://github.com/q9f/ethereum-on-rails

`personal_sign` can only be validated with `personal_recover`

https://github.com/q9f/ethereum-on-rails/blob/main/app/controllers/sessions_controller.rb#L44

however, `personal_recover` returns a public key belonging to an ethereum account that signed the message.

so if the recovered account matches the account that claims to have signed the mes

[2021-10-27 17:16] q9f commented on #45
and personal_recover:

https://github.com/q9f/ethereum-on-rails/blob/843e0ec9cf8492a16dc544e4db3cd814fc0c4334/app/controllers/sessions_controller.rb#L44

[2021-10-27 17:17] q9f commented on #54
duplicate of #47

[2021-10-27 17:17] #54 closed, assigned to nobody

[2021-10-30 11:48] #57 closed, assigned to q9f

[2021-11-03 21:27] zeptonaut commented on #47
I can confirm that this is still a problem: experiencing it on Catalina right now.

[code]

[2021-11-04 09:26] q9f commented on #47
Thanks for confirming.

[2021-11-11 15:49] zeptonaut commented on #47
I fully admit I'm a newb in this area, but is there a compelling reason to use the OpenSSL wrapper lifted from lian/bitcoin-ruby (as stated https://github.com/se3000/ruby-eth/blob/7a72d787c983f6c5ca7ab8f58d8dfd8ba5a60538/lib/eth/open_ssl.rb#L1-L2) as opposed to the OpenSSL wrapper provided by Ruby core (https://github.com/ruby/openssl)?

It looks like lian/bitcoin-ruby is itself having some of the

[2021-11-11 17:14] q9f commented on #47
@zeptonaut I agree with either moving to ruby/openssl or just use rsecp256k1 some day. I currently don't have the time to look into these libraries though.

could you look into #66? I applied the linked changes from bitcoin-ruby and they pass on my end (Linux); I do not have a macos machine available for testing.

[code]

And/or optionally:

[code]

[2021-11-28 22:10] PositiveControl opened #67 "Unsafe loading of Libcrypto preventing Rails console+server development"
[code]

Apparently MacOS (or the M1 specifically), Rails or even Ruby doesn't like the way `libcrypto` is loaded and prevents consoles or servers from starting when the gem is included.

[code]

I've tested this assumption by bundling without `eth` and do not encounter the `libcrypto` errors.

Cheers.

[2021-11-29 09:03] q9f commented on #67
Thanks for reporting. I'll probably have a fix by end of week.

The `eth` gem is fixed in #66 but `libcrypto` specifically fails on the `money-tree` dependency, see https://github.com/GemHQ/money-tree/pull/43

Closing as duplicate of #47 which tracks all ssl/crypto issues on macos.

[2021-11-29 09:03] #67 closed, assigned to nobody

[2021-11-29 09:17] q9f opened #68 "`eth` 0.5 tracker"
ultimate goals:
- long-term support for ruby 3.0+
- reduce external dependencies of unmaintained and abandoned gems
- move all crypto dependencies to native ruby if possible (secp256k1, openssl) to ensure no breakage by OS

essential components
- [x] keys pairs, accounts
  - [x] https://github.com/etscrivner/rbsecp256k1
  - [x] addresses, checksums (eip 55)
  - [x] encryption, decryption
  - [x] s

[2021-12-02 10:08] vasaf opened #71 "Not compatible with Ruby 3.0.2?"
Just tried installing this gem, and when trying to start my server I get:

`.rbenv/versions/3.0.2/bin/ruby is loading libcrypto in an unsafe way`

[2021-12-02 10:11] vasaf commented on #71
#67 Just noticed this mentioned here

[2021-12-02 10:11] #71 closed, assigned to nobody

[2021-12-02 10:11] q9f commented on #71
Hi, thank you for your ticket.

The `eth` gem is fully compatible with Ruby 3.0.2, however there are issues on macos. See #47

A fix is available in #66 but it's currently blocked by the `money-tree` dependency: https://github.com/GemHQ/money-tree/pull/43

[2021-12-02 10:12] q9f commented on #71
I'm having a call with @wink (`money-tree`) later today, hopefully, we will be able to resolve this by end of the week! :)

[2021-12-02 10:15] vasaf commented on #71
Awesome! Thanks for the heads up 🙂

[2021-12-07 04:13] starwels commented on #17
Hey guys. It is not working on heroku-18 and heroku-20. Here is the log from my heroku server. I tried both heroku-18 and heroku-20

`
Could not open library 'libssl.so.10': libssl.so.10: cannot open shared object file: No such file or directory.
Could not open library 'libssl1.0.0': libssl1.0.0: cannot open shared object file: No such file or directory.
Could not open library 'libssl1.0.0.so': li

[2021-12-07 08:13] q9f commented on #17
Hi @starwels - this is going to be fixed with the next release of `money-tree` and `eth` gems. please subscribe to
* https://github.com/se3000/ruby-eth/pull/66
* https://github.com/GemHQ/money-tree/pull/43

to get notified once it's merged.

[2021-12-22 13:10] q9f commented on #51
starting from version 0.5.0, you can just call

[code]

and it will try to match the type of data you pass according to EIP 191 or 712.

ref https://github.com/q9f/eth.rb/pull/27

[2021-12-22 13:10] #51 closed, assigned to nobody

[2021-12-22 13:12] q9f commented on #45
for the upcoming release 0.5.0

* https://q9f.github.io/eth.rb/Eth/Key.html#personal_sign-instance_method
* https://q9f.github.io/eth.rb/Eth/Signature.html#personal_recover-instance_method

[2021-12-22 13:12] #45 closed

[2021-12-22 13:13] q9f commented on #44
Will be included in release 0.5.0, ref https://github.com/q9f/eth.rb/pull/27

[2021-12-22 13:13] #44 closed

[2021-12-22 13:18] q9f commented on #52
I do not plan to either investigate or fix this. For the upcoming release 0.5.0, I will rather replace the entire openssl code with a pure secp256k1 library. I don't think this gem should roll its own custom crypto functions.

So far, I was able to implement all key-pair and signature logic in pure secp256k1.

* ref https://github.com/q9f/eth.rb/pull/4
* ref https://github.com/q9f/eth.rb/pull/24

[2021-12-22 13:18] #52 closed, assigned to nobody

[2022-01-04 13:21] #47 closed

[2022-01-04 13:21] q9f commented on #47
0.4.18 🎉

[2022-01-04 13:34] q9f commented on #56
This will be fixed in https://github.com/q9f/eth.rb/pull/33

[2022-01-12 07:14] q9f commented on #56
This is fixed in 0.5.0+

[2022-01-12 07:15] #56 closed, assigned to nobody

[2022-01-16 13:19] marek22k opened #76 "ERROR: Could not find a valid gem 'money-tree' (~> 0.11) (required by 'eth' (>= 0)) in any repository"
Hello,

I can no longer update the eth gem or install it on another computer. This is very unfavorable as there are also dependencies on the gem.

Following is the error message:
[code]

[code]
[code]
I installed Ruby using RVM.

[2022-01-16 23:08] Deekor commented on #76
I'm also getting this trying to update to `eth 0.4.18`

[2022-01-16 23:15] Deekor commented on #76
@marek22k Looks like version `0.11` of money-tree is not on ruby gems yet. Installing money-tree locally is a workaround.

`gem 'money-tree', git: 'https://github.com/GemHQ/money-tree.git'`

[2022-01-17 09:37] q9f commented on #76
Indeed, there is not much we can do, ref https://github.com/GemHQ/money-tree/issues/50

Your options are:
1. either manually install money tree locally from git
2. or use the new (unreleased) eth gem 0.5.0: https://github.com/q9f/eth.rb/

[2022-02-01 13:34] Wertster opened #77 "libsecp256k1.zip has wrong hash during Eth 0.5.0 gem installaton on OSX"
Hi there, excellent gem ! I just got hit with a bundle install fail for eth 0.5.0 on my osx workstation? Is this hardwired signature embedded in the gem extension  build script which is embedded in the gem source when versioned (such that if there'a new release of the referenced zip, a new gem version would be needed)?

[code]

[2022-02-01 14:32] q9f commented on #77
What Ruby version are you using? 2.7? And what bundler version?

Are you using mini portile? What for? Do you have some custom setup?

Could you share more logs?

[2022-02-01 14:36] q9f commented on #77
To answer this directly: no. We do not specify anything but the name of the dependency and the version.

https://github.com/q9f/eth.rb/blob/main/eth.gemspec#L43-L44

[2022-02-01 14:45] q9f commented on #77
Seems to be related to

https://github.com/etscrivner/rbsecp256k1/commit/cf23dfce5ffb416f07b498f8b5479650e602554f
https://github.com/etscrivner/rbsecp256k1/issues/54

Can you try to delete `libsecp256k1.zip` and try again?

cc @chainoperator  @etscrivner

[2022-02-01 16:01] Wertster commented on #77
Hi, folks,
To answer the questions above I'm on ruby 2.7.5, and I'll attach the logs shortly when I've reproduced on a clean env.
Adding more clarity also I located this in the dependent gem rbsecp256k1 - which does have a codified expectation which in my example has now stopped working...
![image](https://user-images.githubusercontent.com/711834/152003336-50156a5f-84d7-42be-a293-82e98e1b8a44.png)

[2022-02-01 16:04] Wertster commented on #77
Interesting - I went to the github link https://github.com/etscrivner/rbsecp256k1 and followed the instruction below and subsequently the gem installed correctly. Apologies for raising the issue a little prematurely but at least may assist others hitting such an event.
![image](https://user-images.githubusercontent.com/711834/152004364-8490d02e-8676-4e2b-86db-46d9c17bf56b.png)

[2022-02-01 16:12] q9f commented on #77
Ok, glad it worked out!

[2022-02-01 16:12] #77 closed, assigned to nobody

[2022-02-08 14:05] #68 closed, assigned to nobody

[2022-02-08 14:05] q9f commented on #76
Fixed in `~> 0.5`

[2022-02-08 14:05] #76 closed, assigned to nobody

[2022-06-22 23:38] otavioschwanck opened #78 "Question: How to sign an array of arguments?"
I have the following code:
[code]

The signature that generate its messed up.  When i try to verify, it returns another private key.

I am verifying with:
[code]

On python, i can sign with:
[code]

Is it possible to sign in this way with this gem?

[2022-06-27 08:12] q9f commented on #78
Please create an issue upstream: https://github.com/q9f/eth.rb/issues

Also, how does `bytes32 message` look like? Are these values concatenated? There is no specification how to handle arrays in EIP 191.

Do you require EIP 712? https://github.com/q9f/eth.rb#22-ethereum-signatures-eip-191-eip-712

[2022-06-27 08:12] #78 closed, assigned to nobody